<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="title">Register</h2>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Username"
          formControlName="username">
      </div>
      <div class="form-group col-sm-6">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email">
      </div>
      <div class="form-group col-sm-6">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          placeholder="Password"
          formControlName="password1">
      </div>
      <div class="form-group col-sm-6">
        <label for="exampleInputPassword1">Repeat Password</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          placeholder="Password"
          formControlName="password2">
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-default"
      [disabled]="!registerForm.valid || loading">
      <span *ngIf="!loading">Submit</span>
      <span *ngIf="loading">Loader here....</span>
    </button>
    <div *ngIf="error" class="error-text bg-danger">
      {{ error }}
    </div>
    <div class="help-text">
      Already have an account? <a routerLink="/login">Login Here!</a>
    </div>
  </form>
</div>
