<div class="message-view-box" *ngIf="box">
  <h4>{{ box.boxType }}</h4>
  <div class="messages__container" *ngIf="box.messages && box.messages.length > 0">
    <div class="message" *ngFor="let message of box.messages">
      <p class="message__text">{{ message.text }}</p>
      <p class="message__date">{{ message.created | date }}</p>
    </div>
  </div>
  <div class="empty-state" *ngIf="box.messages && box.messages.length == 0">
    <h3>No messages here yet, check back later!</h3>
  </div>
</div>
