<div class="profile">

  <!-- User doesn't own profile -->
  <div *ngIf="!isProfileOwner()">
    <div *ngIf="error" class="error-text bg-danger">
      {{ error }}
    </div>
    <div class="loader" *ngIf="isProfileLoading">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
    </div>
    <div class="profile__content" *ngIf="!isProfileLoading">
      {{ profile.username }}
      <div *ngIf="profile && profile.username">
        <app-message-box [receiver]="profile.username">
        </app-message-box>
      </div>
    </div>
  </div>

  <!-- User owns profile -->
  <div *ngIf="isProfileOwner()">
    <h2>Welcome to your profile, {{ profile.username }}!</h2>
    <h5>
      Select a box below to view the messages within it, or create a new one.
    </h5>
    <div class="addNew__container">
      <button
        *ngIf="!isAddFormShown"
        class="btn btn-default add"
        (click)="onClickAddNewBox()">
        Add
      </button>
      <div class="addNew__form" *ngIf="isAddFormShown">
        <div
          class="cancel"
          (click)="onClickAddNewBox()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <form #addNewForm (ngSubmit)="onSubmitAddNewForm">
          <div class="form-group">
            <label for="boxType">Box Type</label>
            <input
              type="text"
              class="form-control"
              name="boxType"
              ngModel
              required />
          </div>
          <div class="form-group">
            <label for="description">Description (optional)</label>
            <input
              type="text"
              class="form-control"
              name="description"
              ngModel />
          </div>
          <div class="text-right">
            <button class="btn btn-primary" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div
      *ngFor="let box of profile.boxes"
      class="box"
      (click)="onClickBox(box)">
      <div class="box__description">
        <i class="fa fa-cube" aria-hidden="true"></i>
        {{ box.boxType }}
      </div>
      <div class="box__trash" *ngIf="box.boxType !== 'general'">
        <button class="btn btn-danger" (click)="onClickDeleteBox(box)">
          Delete
        </button>
      </div>
    </div>
    <div class="box-selected-holder">
      <app-message-view-box [box]="selectedBox">
      </app-message-view-box>
    </div>
  </div>

</div>
