.loader {
	text-align: center;
	margin: 25px auto;
}

.error-text {
	text-align: center;
	padding: 15px;
	margin-top: 15px;
}

div.box {
	position: relative;
	border: 1px solid #ccc;
	padding: 15px;
	margin: 0 auto 15px;
	&:hover {
		cursor: pointer;
	}
	&__trash {
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
	}
	&__description {
		margin-top: 4px;
		margin-left: 18px;
		font-size: 11px;
	}
}

.addNew {
	&__container {
		text-align: right;
	}
	&__form {
		position: relative;
		text-align: left;
		border: 1px solid #ccc;
		padding: 30px 15px 15px;
		.cancel {
			position: absolute;
			top: 5px;
			right: 7px;
			padding: 0 7px;
			border-radius: 100%;
			&:hover {
				cursor: pointer;
			}
		}
		.error {
			margin: 10px auto 15px;
			padding: 15px;
			text-align: center;
		}
    mat-form-field {
      width: 100%;
    }
	}
}

.profile-details {
	position: relative;
	min-height: 150px;
	text-align: center;
	border-top: 103px solid #ccc;
	padding: 15px;
	.placeholder-img {
		position: absolute;
		top: -71px;
		right: 50%;
		transform: translateX(50%);
		height: 90px;
		width: 90px;
		background-size: cover;
		border: 1px solid gray;
		border-radius: 100%;
		margin: 0 auto;
	}
}

.profile-owner-intro {
  margin: 30px auto 40px;
}

.fa-cube.active {
	position: relative;
	color: #26C6DA;
	z-index: 10;
	&::after {
		position: absolute;
		z-index: 1;
		content: '>';
		top: 0;
		left: -10px;
	}
}

.box-selected-holder .selected-title {
  text-align: right;
}
