<div class="message-box">
  <form
    *ngIf="isFormShown && !isSuccessShown"
    [formGroup]="messageForm"
    (ngSubmit)="onSubmitMessageForm()">
    <textarea
      #input
      class="form-control"
      rows="5"
      name="message"
      formControlName="message">
    </textarea>
    <button
      [disabled]="isFormLoading"
      type="submit"
      class="btn btn-default btn-block submit">
      <span *ngIf="!isFormLoading">Submit</span>
      <span *ngIf="isFormLoading">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
      </span>
    </button>
  </form>

  <div *ngIf="errorMessage && !isSuccessShown" class="error-text bg-danger">
    {{ errorMessage | apiError }}
  </div>
  <div *ngIf="isSuccessShown" class="success bg-success">
    <p>Your message has been dropped into the box!</p>
  </div>
</div>
