.home {
	margin-top: 30px;
}
.call-to-action {
	margin: 50px auto;
	text-align: center;
	.section {
		border: 1px solid #ccc;
		height: 300px;
		padding: 40px 15px;
	}
	.icons-container {
		margin-bottom: 30px;
		.fa {
			font-size: 90px;
		}
		&.tiny-icons {
			margin-bottom: 51px;
			.fa {
				font-size: 70px;
			}
		}
	}
}
.cta-btn {
	margin-top: 30px;
}

@media (max-width: 768px) {
	.call-to-action {
		.section {
			height: 250px;
		}
		.col-sm-4:not(:last-of-type) .section {
			border-bottom: none;
		}
	}
}
