/* You can add global styles to this file, and also import other style files */

// https://material.io/guidelines/style/color.html
$cyan-50: #E0F7FA;
$cyan-100: #B2EBF2;
$cyan-200: #80DEEA;
$cyan-300: #4DD0E1;
$cyan-400: #26C6DA;
$cyan-500: #00BCD4;
$cyan-600: #00ACC1;
$cyan-700: #0097A7;
$cyan-800: #00838F;
$cyan-900: #006064;

$blue_gray-50: #ECEFF1;
$blue_gray-100: #CFD8DC;
$blue_gray-200: #B0BEC5;
$blue_gray-300: #90A4AE;
$blue_gray-400: #78909C;
$blue_gray-500: #607D8B;
$blue_gray-600: #546E7A;
$blue_gray-700: #455A64;
$blue_gray-800: #37474F;
$blue_gray-900: #263238;
