// https://material.io/guidelines/style/color.html
$main-50: #E0F7FA;
$main-100: #B2EBF2;
$main-200: #80DEEA;
$main-300: #4DD0E1;
$main-400: #26C6DA;
$main-500: #00BCD4;
$main-600: #00ACC1;
$main-700: #0097A7;
$main-800: #00838F;
$main-900: #006064;

$secondary-50: #ECEFF1;
$secondary-100: #CFD8DC;
$secondary-200: #B0BEC5;
$secondary-300: #90A4AE;
$secondary-400: #78909C;
$secondary-500: #607D8B;
$secondary-600: #546E7A;
$secondary-700: #455A64;
$secondary-800: #37474F;
$secondary-900: #263238;
